* {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
}
body {
  box-sizing: border-box;
  background-color: #141413;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}
.navbar {
  color: black;
}
.login {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  padding: 30px;
  border: 2px solid black;
  color: white;
  background-color: #272726;
  box-shadow: -2px -3px rgb(151, 151, 218), 2px -3px gray, -2px 3px gray,
    2px 3px rgb(151, 151, 218);
}
.login label {
  margin-top: 0px;
}

input[type="checkbox"] {
  margin-top: 9px;
}

.card-container .card {
  background-color: rgb(58, 56, 56);
  color: white;
}
.h-100 > img {
  height: 300px;
}

.card-container {
  margin-top: 40px;
}
.submit {
  margin-left: 40%;
}

.weather {
  background-image: none;
  background-color: black;
}
#carouselIndicators .card {
  background-color: #141413;
  height: 450px;
  color: white;
}
#carouselIndicators {
  max-width: 700px !important;
}
.carousel-item {
  width: 700px;
}
.carousel-indicators li {
  width: auto;
  height: 60px;
  text-indent: unset;
  background-color: #141413;
  padding: 10px;
  cursor: pointer;
  color: rgb(208, 223, 73);
  margin-top: -55px !important;
  opacity: 0.8;
}
.carousel-indicators .active {
  color: white;
  transform: translateY(-3px);
}
.carousel-item .card img {
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-center;
  width: 150px;
  height: 100px;
}
.carousel-indicators li {
  width: 40px;
}
.user-icon {
  height: 25px;
  width: 50px;
  margin-left: -10px;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}
h5 {
  font-size: 1.1rem;
}
.social-account img {
  width: 50px;
  margin-top: 5px;
  cursor: pointer;
  padding-left: 15px;
}
.have-account {
  text-align: right;
}
.text-muted {
  color: blanchedalmond !important;
}
.carousel-indicators img {
  width: 30px;
  height: 26px;
}
@media only screen and (max-width: 700px) {
  .carousel-item {
    width: 95vw;
  }
  .login {
    width: 95vw;
    margin: 23px;
  }
}

@media only screen and (max-width: 470px) {
  .carousel-indicators li {
    padding: 2px;
    font-size: 15px;
  }
  .submit {
    margin-left: 35%;
  }
}
@media (min-width: 280px) {
  .col-sm-12 {
    padding-top: 30px;
  }
}
@media (min-width: 765px) and (max-width: 905px) {
  .col-sm-12 {
    padding: 5px;
  }
  .card-title {
    font-size: 19px;
  }
}
@media (max-width: 340px) {
  .submit {
    margin-left: 30%;
  }
}

@media (max-width: 362px) {
  form p,
  form p a {
    display: block;
  }
  .card-title {
    font-size: 16px;
  }
  .carousel-indicators li {
    width: 40px;
  }
}
@media (max-width: 320px) {
  .carousel-indicators li {
    width: 35px;
  }
  .carousel-indicators img {
    width: 23px;
    height: 26px;
  }
}
@media (max-width: 290px) {
  .carousel-indicators li {
    width: 30px;
    padding: 0px;
  }
  .carousel-indicators img {
    width: 20px;
    height: 26px;
  }
}
@media (max-width: 500px) {
  .h-100 > img {
    height: 200px !important;
  }
}
